<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi=" http://www.w3.org/2001/XMLSchema-instance" >

    <properties resource="sqlmap.config.xml"/>
    
	<settings>
		<setting useStatementNamespaces="false"/>
		<setting cacheModelsEnabled="true"/>
	</settings>
	
	<database>	
		<provider name="${provider}"/>
		<dataSource name="default"  connectionString="${development}"/>
	</database>

	<sqlMaps>
		<sqlMap resource="${root}Resources/Queries.xml"/>
	</sqlMaps>

</sqlMapConfig>
