<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="spring">
       <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>
  
  <spring>
  
    <context type="Spring.Context.Support.WebApplicationContext, Spring.Web">
        <resource uri="config://spring/objects"/>
    </context>

    <objects xmlns="http://www.springframework.net">
    
		<object id="Directory" type="Directory.aspx">
			<property name="Catalog">
				<ref object="Catalog"/>
			</property>		
		</object>
              
		<object id="Directory2" type="Directory2.aspx">
			<property name="Catalog">
				<ref object="Catalog"/>
			</property>		
		</object>

	   <!-- User Controls -->
	   
		<object id="ViewControl" abstract="true">
			<property name="Catalog">
				<ref object="Catalog"/>
			</property>		
		</object>
		<object id="PhoneBook.Web.Controls.Finder" abstract="true" parent="ViewControl"/>	   	    		              
		<object id="PhoneBook.Web.Controls.Lister" abstract="true" parent="ViewControl"/>

   </objects>

 </spring>  
</configuration>
