.right {
	clear: both;
	float: right;
}

.left {
	clear: both;
	float: left;
}

.bundleDetails td {
	border: 1px solid #C8C8C8;
}

.rowTitle {
	width: 141px;
	font-weight: bold;
	vertical-align: top;
}


table.properties {
	border-style: solid;
	border-width: 1px;
	border-color: #3366CC;
}

table.properties td {
    border-style: solid;
    border-width: 1px;
    border-color: #3366CC;
}

table.properties td.name {
	background-color: #C3D9FF;
	vertical-align: top;
}

table.properties th {
    background-color: #C3D9FF;
}