<html>
<head>
    <title>OSGi Bundles</title>
    #surl ("var=mainCss" "value=/static/main.css" "includeParams=none")
    <link rel="stylesheet" type="text/css" href="$mainCss" />
</head>
<body>

<table class="properties">
    <thead>
        <tr>
            <th>Name</th>
            <th>State</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        #foreach ($bundle in $bundles)
        <tr>
            <td>
                <a href="bundle_${bundle.symbolicName}!view.action">$bundle.symbolicName</a>
            </td>
            <td>$action.getBundleState($bundle)</td>
            <td>
                #if ($action.isAllowedAction($bundle, "start"))
                <a href="bundle_${bundle.symbolicName}!start.action">Start</a>
                #end

                #if ($action.isAllowedAction($bundle, "stop"))
                <a href="bundle_${bundle.symbolicName}!stop.action">Stop</a>
                #end

                #if ($action.isAllowedAction($bundle, "update"))
                <a href="bundle_${bundle.symbolicName}!update.action">Update</a>
                #end
            </td>
        </tr>
        #end
    </tbody>
</table>
</body>
</html>
