<html>
    <head>
        #surl ("var=mainCss" "value=/static/main.css" "includeParams=none")
        <link rel="stylesheet" type="text/css" href="$mainCss" />
    </head>
<body>

<div class="right">
    #surl ("var=bundlesUrl" "nampespace=/osgi/admin" "action=bundles" "includeParams=none")
    <a href="$bundlesUrl">Installed Bundles</a>
</div>

#sactionerror ()

<table class="bundleDetails" style="clear:both">
    <tr class="detailRow">
        <td class="rowTitle">Id</td>
        <td class="rowValue">$bundle.bundleId</td>
    </tr>
    <tr class="detailRow">
        <td class="rowTitle">Name</td>
        <td class="rowValue">$bundle.symbolicName</td>
    </tr>
    <tr class="detailRow">
        <td class="rowTitle">Location</td>
        <td class="rowValue">$bundle.location</td>
    </tr>
    <tr class="detailRow">
        <td class="rowTitle">State</td>
        <td class="rowValue">$action.getBundleState($bundle)</td>
    </tr>
    <tr class="detailRow">
        <td class="rowTitle">Registered Services</td>
        <td class="rowValue">
            #foreach ($service in $bundle.registeredServices)
                <table class="properties">
                    #foreach ($key in $service.propertyKeys)
                        <tr>
                            <td class="name">$key</td>
                            <td>$action.displayProperty($service.getProperty($key))</td>
                        </tr>
                    #end
                </table>
                <br/>
            #end
        </td>
    </tr>
    <tr class="detailRow">
        <td class="rowTitle">Services in Use</td>
        <td class="rowValue">
            #foreach ($service in $bundle.servicesInUse)
                <table class="properties">
                    #foreach ($key in $service.propertyKeys)
                        <tr>
                            <td class="name">$key</td>
                            <td>$action.displayProperty($service.getProperty($key))</td>
                        </tr>
                    #end
                </table>
                <br/>
            #end
        </td>
    </tr>
    <tr class="detailRow">
        <td class="rowTitle">Packages</td>
        <td class="rowValue">
            #foreach ($pkg in $packages)
                <table class="properties">
                    <tr>
                        <td class="name">Name</td>
                        <td>$pkg.name</td>
                    </tr>
                    <tr>
                        <td class="name">Actions</td>
                        <td>
                            <ul>
                                #foreach ($name in $pkg.actionConfigs.keySet())
                                    <li>$name</li>
                                #end
                            </ul>
                        </td>
                    </tr>
                </table>
                <br/>
            #end
        </td>
    </tr>
    <tr class="detailRow">
        <td class="rowTitle">Actions</td>
        <td class="rowValue">
            #if ($action.isAllowedAction($bundle, "start"))
            <a href="bundle_${bundle.symbolicName}!start.action">Start</a>
            #end

            #if ($action.isAllowedAction($bundle, "stop"))
            <a href="bundle_${bundle.symbolicName}!stop.action">Stop</a>
            #end

            #if ($action.isAllowedAction($bundle, "update"))
            <a href="bundle_${bundle.symbolicName}!update.action">Update</a>
            #end
        </td>
    </tr>
</table>
</body>
</html>